body{
    background-color: rgb(190, 215, 200);
}
.bg-img{
    background-image: url("../images/headerWave.jpg");
    min-height: 200px;
    height: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}
.container {
    position: absolute;
    margin: 20px;
    width: auto;
  }

  .nav {
      border-bottom: 1px solid #EAEAEB;
      text-align: right;
      height: 70px;
      line-height: 70px;
      z-index:1;
      /* display: block; */

  }

  /* .menu{
      margin: 0 30px 0 0;
      font-size: 35px;
  } */
 .Menu a{
     text-decoration: none;
     color: rgb(25, 91, 126);
     margin: 0 10px;
     line-height: 70px;
     z-index: 2;
      /* display: block; */

 }
 span {
     color: blueviolet;
     z-index: 2;
 }

 label {
     margin: 0 40px 0 0;
     font-size: 50px;
     line-height: 70px;
     display: none;
     z-index: 2;
}
#toggle{
    display: none;
    z-index: 2;
}


#TopOfPage, #MiddleScreen, #BottomOfPage{
    margin: 5%;
    font-size: 30px;
    padding-bottom: 20%;
    padding-top: 10%;
    text-align: center;
}
#TopOfPage{
    color:purple;
}
#MiddleScreen{
    color:rgb(64, 255, 0); 
}
#BottomOfPage{
    color:rgb(0, 128, 109);
}
#headerPic{
    width: 100%
}

/* @media(min-width:601px){
    .Menu{
        display: block;
        color: rgb(25, 91, 126);
        margin: 0 10px;
        line-height: 70px;
        z-index: 2;
    }
    a {
        font-size: 30px;
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
}
@media(min-width: 601px){
    .Menu{
        display: block;
        color: rgb(25, 91, 126);
        margin: 0 10px;
        line-height: 70px;
        z-index: 2;
    }
} */
@media only screen and (max-width: 900px){
    label {
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    
    .Menu{
        text-align: center;
        /* width: 100%; */
        display: none;
        z-index: 5;
    }
    
     a {
        font-size: 30px;
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
    /* #toggle:checked + .Menu {
        display: block;
        background-color: white;
        position: relative;
        width: 50%;
        margin-left: 50%;
    } */
    /* .nav{
       
        right: 0;
    } 
}*/
}

@media only screen and  (max-width: 600px) {
    #TopOfPage, #MiddleScreen, #BottomOfPage{
        text-align: center;
        font-size: 25px;
        margin: 5%;
        /* z-index: -1; */
    }
    
       
   
      
}


/*nice job! so get deeper in mobile response and get overall better at it! It is the future!*/

